<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Varios Calculos en JS</title>
</head>
<body>
    

   <div class="container"> 
    <div class="tab">Cálculos varios</div>
    <form class="formulario">
        <input type="number" name="numero" id="numero" placeholder="Ingrese un número">
        
        <select name="calculos" id="calculos" onchange="cambiarTextoBoton()">
            <option value="primo">Es primo</option>
            <option value="par">Es par</option>
            <option value="factorial">Factorial</option>
            <option value="suma_par">Suma pares</option>
            <option value="suma_impar">Suma impares</option>
        </select>
        
            <div class="resultado" id="resultado">Resultado:</div>
            <button type="button" onclick="realizarCalculo()" id="boton">Verificar</button>
        </form>
    </div>

<script src="assets/js/varioscalculos.js"></script>
</body>
</html>
